<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{get title}}</title>
    <link href="/public/style.css" rel="stylesheet" />
  </head>
  <body>
    <img alt="nodejs routing" src="/public/image.jpg" style="width: 100px" />
    <div id="wrapper">
      <header>{{get menu}}</header>
      <br />
      <main>
        <b>{{get content}}</b>
      </main>
      <br />
      <footer>{{get footer}}</footer>
    </div>

    <script src="/public/scrypt.js"></script>
  </body>
</html>
